<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="password.component.css">
    <title>Document</title>
</head>

<body>
    <form class="formulario">

        <h1>¿Olvidaste tu Contraseña?</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico">

            </div>

            <input type="submit" value="Enviar Correo" class="button">
            <p>Regresar<a class="link" routerLink="/login">Iniciar Sesion</a></p>
        </div>
    </form>

</body>

</html>